@font-face {
  font-family: 'MADE Tommy Soft';
  src: url('fonts/MADE\ Tommy\ Soft\ Bold\ PERSONAL\ USE.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}


/* Global Styles */
body {
  margin: 0;
  font-family: 'MADE Tommy Soft', sans-serif;
  background-color: #f0f4fa;
  background: linear-gradient(180deg, #EDF1F6 85%, #D0E3FF 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header {
  background-color: #d9e6ff;
  padding: 10px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav div{
  display: flex;
  align-items: center;
  gap: 20px;
} 

header .logo {
  width: 100px;
}

nav a, nav p {
  text-decoration: none;
  color: #081F5C;
  font-family: "MADE Tommy Soft";
  font-weight: bold;
  font-size: 18px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 500px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.flex-container > div {
  flex: 1;
  min-width: 300px; /* Ensures that the items don’t shrink too much on smaller screens */
}

/* Padding added to ensure text doesn't overlap */
.text-container {
  padding: 20px;
}

.map-container {
  width: 100%;
  max-height: 406px;
  padding: 30px 80px 50px;
  box-sizing: border-box;
}

/* Ensures that the map container has a clear block layout */
.map-container svg {
  max-height: 600px;
  width: 100%;
}

/* Responsive behavior */
@media screen and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
  }

  .text-container {
    width: 100%;
    padding: 15px;
  }

  .map-container {
    padding: 15px;
    width: 100%;
  }
}
